body {
    background: #333;
    padding-top: 5rem;
}

nav {
    background-image: linear-gradient(to right, #088, #408);
    color: white;
    box-shadow: 0 0 1em rgb(0, 0, 0);
}

nav .brand {
    padding-right: 17px;
}

nav .menu, nav .burger {
    float: left;
}

nav .menu > * {
    margin-right: 0;
}

nav .show ~ .menu {
    left: 0;
    right: 0;
    width: 100%;
    transform-origin: left;
    background: transparent;
    transition: all .25s ease;
}

nav .menu > *:first-child {
    font-weight: 700;
}

nav .show ~ .menu > .right {
    bottom: 0;
    right: 0;
    position: absolute;
}

nav .show:checked ~ .menu {
    max-height: 100vh;
    background: #333;
}

nav .show:checked ~ .menu > * {
    transform: none !important;
    transition: none !important;
}

nav .menu a[data=current] {
    text-decoration: underline white 2px;
    text-underline-offset: 6px;
}

div.wrapper {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

[class*="icono-"] {
    color: #333;
}

h2 > [class*="icono-"] {
    margin-right: 10px;
}

.calendar span {
    text-align: center;
}

.calendar span:not(.current) {
    color: lightgray;
}

.right {
    float: right
}

table {
    width: 100%;
}

th {
    background-color: inherit;
    color: inherit;
}

td, th {
    padding: 0.3em 1.1em 0.3em 1.1em
}

.button {
    margin: 0;
    background: #333;
}

.button > [class*="icono-"] {
    color: white;
}

.card {
    box-shadow: 0 0 1em rgb(0, 0, 0);
}