nav .brand {
    padding-right: 17px;
}

nav .menu, nav .burger {
    float: left;
}

nav .menu > * {
    margin-right: 0;
}

nav .menu i {
    color: black;
    transform: scale(0.8);
}

nav .show ~ .menu {
    left: 0;
    right: auto;
    max-width: 100%;
    width: 70%;
    transform-origin: center left;
}

nav .menu a[data=current] {
    text-decoration: underline black 2px;
    text-underline-offset: 6px;
}

div.wrapper {
    padding-top: 4em;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

[class*="icono-"] {
    transform: scale(0.8);
}

.calendar span {
    text-align: center;
}

.calendar span:not(.current) {
    color: lightgray;
}

.right {
    float: right
}