nav {
    background-image: linear-gradient(to right, #088, #408);
    color: white;
    box-shadow: 0 0 1em rgb(0, 0, 0);
}

nav .brand {
    padding-right: 17px;
}

nav .menu, nav .burger {
    float: left;
}

nav .menu > * {
    margin-right: 0;
}

nav .show ~ .menu {
    left: 0;
    right: 30%;
    max-width: 100%;
    width: auto;
    transform-origin: left;
    background: transparent;
    transition: all 1s ease;
}

nav .show:checked ~ .menu {
    background: #333;
}

nav .menu a[data=current] {
    text-decoration: underline white 2px;
    text-underline-offset: 6px;
}

div.wrapper {
    padding-top: 4em;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

[class*="icono-"] {
    color: #333;
}

.calendar span {
    text-align: center;
}

.calendar span:not(.current) {
    color: lightgray;
}

.right {
    float: right
}

table {
    width: 100%;
}

th {
    background-color: inherit;
    color: inherit;
}

td, th {
    padding: .3em 2.4em .3em 2.4em;
}

.button {
    background: #333;
}

.button > [class*="icono-"] {
    color: white;
}