<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="server_port">8000</entry>
    <entry key="logger_level">DEBUG</entry>
    <entry key="logger_console">true</entry>
    <entry key="persistence_unit">bookLibraryPU</entry>
</properties>