body {
    margin: 0;
    background-color: #efefef;
}



#svg8 {
    background-color: white;

    width: 100vw;
    height: 20vh;

    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes logo {
    0% {
        height: 100vh;
    }
    50% {
        height: 100vh;
    }
    100% {
        height: 20vh;
    }
}

#rect968-3 {
    animation-name: blackBar;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;

    width: 100vh;
}


@keyframes blackBar {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


#text2587 {
    animation-name: fluent;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes fluent {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}