fieldset {
    padding: 0.5rem 2rem;
}

legend {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1rem;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
select,
textarea,
textarea[type="text"] {
    font-family: inherit;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    border: 1px solid var(--color-disabled);
    font-size: 1em;
    transition: all 0.2s ease;
    display: block;
    width: 100%;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]):not(:disabled):hover,
select:hover,
textarea:hover,
textarea[type="text"]:hover {
    border-color: var(--color-disabled);
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]):focus,
select:focus,
textarea:focus,
textarea[type="text"]:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 1px var(--color-primary);
}

input.error:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
textarea.error {
    border-color: var(--color-danger);
}

input.success:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
textarea.success {
    border-color: var(--color-success);
}

select {
    -webkit-appearance: none;
    background: #f3f3f6 no-repeat 100%;
    background-size: 1ex;
    background-origin: content-box;
}

[type="checkbox"],
[type="radio"] {
    width: 1.6rem;
    height: 1.6rem;
}

::placeholder {
    color: var(--color-secondary);
}

/*INPUT GROUPS*/
.grouped {
    display: flex;
}

.grouped > *:not(:last-child) {
    margin-right: 16px;
}

.grouped.gapless > * {
    margin: 0 0 0 -1px !important;
    border-radius: 0 !important;
}

.grouped.gapless > *:first-child {
    margin: 0 !important;
    border-radius: 4px 0 0 4px !important;
}

.grouped.gapless > *:last-child {
    border-radius: 0 4px 4px 0 !important;
}

/*BUTTONS*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
    padding: 1rem 2.5rem;
    background-color: var(--color-disabled);
    border-radius: 4px;
    border: 1px solid var(--color-transparent);
    font-size: var(--font-size);
    line-height: 1;
    text-align: center;
    transition: opacity 0.2s ease;
    text-decoration: none;
    transform: scale(1);
    display: inline-block;
    cursor: pointer;
}

button + button {
    margin-left: 1rem;
}

button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
    opacity: 0.8;
}

button:active,
[type="button"]:active,
[type="reset"]:active,
[type="submit"]:active{
    transform: scale(0.98);
}

input:disabled,
button:disabled,
input:disabled:hover,
button:disabled:hover {
    opacity: 0.4;
    cursor: not-allowed;
}

button.primary {
    color: var(--color-light);
    background-color: var(--color-primary);
}

button.secondary {
    background-color: var(--color-secondary);
}

button.success {
    background-color: var(--color-success);
}

button.warning {
    background-color: var(--color-warning);
}

button.danger {
    color: var(--color-light);
    background-color: var(--color-danger);
}

button.light {
    background-color: var(--color-light);
}

button.dark {
    color: var(--color-light);
    background-color: var(--color-dark);
}

button.transparent {
    background-color: var(--color-transparent);
}

button.disabled {
    color: var(--font-color);
    background-color: var(--color-disabled);
}

button.icon {
    display: inline-flex;
    align-items: center;
}

button.icon > img {
    margin-left: 2px;
}

button.icon-only {
    padding: 1rem;
}

