/*NAVIGATION*/
.nav {
    display: flex;
    min-height: 5rem;
    align-items: stretch;
    margin-bottom: var(--grid-gutter);
    box-shadow: 0 0 0.2em rgba(17, 17, 17, 0.2);
}

.nav > .container {
    display: flex;
}

.nav a,
.nav .brand {
    text-decoration: none;
    margin: 1rem 2rem 1rem 0;
    color: var(--color-darkGrey);
}

.nav .brand {
    font-size: 1.25em;
    font-weight: bold;
}

.nav .brand img {
    padding-right: 1rem;
}

.nav .button {
    margin: auto 1rem;
}

.nav .active:not(.button) {
    border-bottom: 2px solid var(--color-darkGrey);
}

.nav img {
    max-height: 3rem;
}

/*BURGER-MENU*/
.nav .burger {
    margin: 1rem 0 1rem auto;
    padding-top: 2px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav .burger > span {
    width: 33px;
    height: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 2px;
    background: var(--font-color);
    z-index: 1;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.nav #burger {
    display: none;
}

.nav #burger:checked ~ .burger > span:nth-child(1) {
    opacity: 1;
    transform: rotate(45deg) translate(5px, 5px);
}

.nav #burger:checked ~ .burger > span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.nav #burger:checked ~ .burger > span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.nav #burger:checked ~ .tabs > a {
    display: block;
}

@media screen and (max-width: 900px) {
    .nav,
    .nav > .container {
        align-items: start;
    }

    .nav .tabs {
        flex-direction: column;
        align-items: start;
    }

    .nav .tabs > a:not(.brand){
        display: none;
    }

    .nav .burger {
        display: flex;
    }
}

/*TABS*/
.tab-layout > figure {
    display: block;
}

.tab-layout > input, .tab-layout figure > div {
    display: none;
}

#tab1:checked ~ figure > .tab1,
#tab2:checked ~ figure > .tab2,
#tab3:checked ~ figure > .tab3,
#tab4:checked ~ figure > .tab4,
#tab5:checked ~ figure > .tab5,
#tab6:checked ~ figure > .tab6,
#tab7:checked ~ figure > .tab7,
#tab8:checked ~ figure > .tab8,
#tab9:checked ~ figure > .tab9,
#tab10:checked ~ figure > .tab10,
#tab11:checked ~ figure > .tab11,
#tab12:checked ~ figure > .tab12 {
    display: block;
}

#tab1:checked ~ .tabs > label[for="tab1"],
#tab2:checked ~ .tabs > label[for="tab2"],
#tab3:checked ~ .tabs > label[for="tab3"],
#tab4:checked ~ .tabs > label[for="tab4"],
#tab5:checked ~ .tabs > label[for="tab5"],
#tab6:checked ~ .tabs > label[for="tab6"],
#tab7:checked ~ .tabs > label[for="tab7"],
#tab8:checked ~ .tabs > label[for="tab8"],
#tab9:checked ~ .tabs > label[for="tab9"],
#tab10:checked ~ .tabs > label[for="tab10"],
#tab11:checked ~ .tabs > label[for="tab11"],
#tab12:checked ~ .tabs > label[for="tab12"] {
    opacity: 1;
    border-bottom: 2px solid var(--color-primary);
}

.tabs {
    display: flex;
    align-items: baseline;
}

.tabs > label {
    cursor: pointer;
    flex: 1 1 auto;
    text-decoration: none;
    padding: 1rem 2rem;
    color: var(--color-darkGrey);
    border-bottom: 2px solid var(--color-lightGrey);
    text-align: center;
}

.tabs > label:hover {
    border-bottom: 2px solid var(--color-darkGrey);
}
