/*NAVIGATION*/
.nav {
    display: flex;
    min-height: 5rem;
    align-items: stretch;
}

.nav img {
    max-height: 3rem;
}

.nav>.container {
    display: flex;
}

.nav-center,
.nav-left,
.nav-right {
    display: flex;
    flex: 1;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.nav-center {
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .nav,
    .nav .tabs,
    .nav>.container {
        flex-direction: column;
    }
    .nav-center,
    .nav-left,
    .nav-right {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.nav a,
.nav .brand {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--color-darkGrey);
}

.nav .active:not(.button) {
    color: var(--color-primary);
}

.nav .brand {
    font-size: 1.75em;
    padding-top: 0;
    padding-bottom: 0;
}

.nav .brand img {
    padding-right: 1rem;
}

.nav .button {
    margin: auto 1rem;
}

/*TABS*/
.tab-layout > figure {
    display: block;
}

.tab-layout > input, .tab-layout figure > div {
    display: none;
}

#tab1:checked ~ figure > .tab1,
#tab2:checked ~ figure > .tab2,
#tab3:checked ~ figure > .tab3,
#tab4:checked ~ figure > .tab4,
#tab5:checked ~ figure > .tab5,
#tab6:checked ~ figure > .tab6,
#tab7:checked ~ figure > .tab7,
#tab8:checked ~ figure > .tab8,
#tab9:checked ~ figure > .tab9,
#tab10:checked ~ figure > .tab10,
#tab11:checked ~ figure > .tab11,
#tab12:checked ~ figure > .tab12 {
    display: block;
}

#tab1:checked ~ .tabs > label[for="tab1"],
#tab2:checked ~ .tabs > label[for="tab2"],
#tab3:checked ~ .tabs > label[for="tab3"],
#tab4:checked ~ .tabs > label[for="tab4"],
#tab5:checked ~ .tabs > label[for="tab5"],
#tab6:checked ~ .tabs > label[for="tab6"],
#tab7:checked ~ .tabs > label[for="tab7"],
#tab8:checked ~ .tabs > label[for="tab8"],
#tab9:checked ~ .tabs > label[for="tab9"],
#tab10:checked ~ .tabs > label[for="tab10"],
#tab11:checked ~ .tabs > label[for="tab11"],
#tab12:checked ~ .tabs > label[for="tab12"] {
    opacity: 1;
    border-bottom: 2px solid var(--color-primary);
}

.tabs {
    display: flex;
}

.tabs > label {
    cursor: pointer;
    flex: 1 1 auto;
    text-decoration: none;
    padding: 1rem 2rem;
    color: var(--color-darkGrey);
    border-bottom: 2px solid var(--color-lightGrey);
    text-align: center;
}

.tabs > label:hover {
    border-bottom: 2px solid var(--color-darkGrey);
}
