:root {
    --color-primary: #0080ff;
    --color-secondary: #dddddd;
    --color-success: #00ff00;
    --color-warning: #ffff00;
    --color-danger: #ff0000;
    --color-light: #ffffff;
    --color-dark: #333333;
    --color-transparent: rgba(0, 0, 0, 0);
    --color-disabled: #AAAAAA;
    --font-family-sans: "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    --font-size: 1.6rem;
    --font-color: #333333;
    --grid-gutter: 2rem;
    --sm-breakpoint: 600px;
    --md-breakpoint: 900px;
    --lg-breakpoint: 1200px;
}
