:root {
    --color-primary: #0080ff;
    --color-secondary: #dddddd;
    --color-white: #ffffff;
    --color-lightGrey: #dddddd;
    --color-grey: #AAAAAA;
    --color-darkGrey: #444444;
    --color-error: #ff0000;
    --color-success: #00ff00;
    --font-family-sans: "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    --font-size: 1.6rem;
    --font-color: #333333;
    --grid-gutter: 2rem;
    --sm-breakpoint: 600px;
    --md-breakpoint: 900px;
    --lg-breakpoint: 1200px;
}
